body{
    text-align: center;
}
.btn{
    height : 200px;
    width : 200px;
    border-radius : 20%;
    border : 10px solid #fff;
    margin :2.5rem;
}
.btn-container{
    display :flex;
    justify-content : center;
}
.red{
    background-color: red;
}
.yellow{
    background-color: rgb(123, 123, 6);
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.flash{
    background-color: white;
}
.userflash{
    background-color:aqua;
}